/*
Blue1 0a8df5
Blue2 3083c6
Blue3 246395
Blue4 184264
Blue5 0b1e2d
*/

body {
  font-size: 20px;
  font-family: 'Open Sans', serif;
  background: #0a8df5;
}
body::selection {
  background: #0a8df5;
}
body::-moz-selection {
  background: #0a8df5;
}
h1 {
  font-size: 48px;
  color: #0a8df5;
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}
h2 {
  font-size: 20px;
  margin-top: 0px;
  color: #666;
  font-weight: bold;
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}
a {
  line-height: 1.8rem;
  color: #0a8df5;
  transition: all .4s;
}
a:hover {
  color: #ccc;
}
p {
  font-size: 18px;
  line-height: 1.8rem;
  color: #333;
}
.fit-parent {
  width: 100%;
}
#past {
  /*background: url(../res/complete_route.png);
  background-size:100%;  
  background-repeat: no-repeat;*/
}
#past .intro{
  background: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
}
#past .logo img{
  max-width: 500px;
}
#links {
  border-top: 10px solid #fff;
  padding: 40px 20px;
  background-color: #eee;
}
#links .links{
  margin-top: 20px;
}
#links a {
  color: #000;
}
#links a:hover {
  color: #0a8df5;
}
#present {
  background-color: #eee;
}
#present a {
  color: #333;
}
#present li {
  float: left;
  padding: 4px 10px;
  margin: 0px 10px 10px 0px;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 4px;
  border: 2px solid rgba(10, 141, 245, 0.3);
}
#present li a {
  color: #333;
}
#present li:hover {
  border: 2px solid rgba(10, 141, 245, 0.8);
}
#friends {
  background-color: #fff;
}
#friends a {
  color: #333;
}
#friends::-moz-selection {
  background: #0a8df5;
}
.friends-icons li {
  float: left;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(10, 141, 245, 0.3);
}
.friends-icons li:hover {
  border: 2px solid rgba(10, 141, 245, 0.8);
}
.friends-icons li a {
  transition: all .4s;
  display: block !important;
}
.friends-icons li a:hover {
  background: none !important;
}
.friends-icons img {
  height: 48px;
  border-radius: 4px;
}
section {
  line-height: 0;
  color: rgba(255, 255, 255, .9);
  padding-bottom: 20px;
}
section .row {
  margin-bottom: 0px;
}
.section {
  width: 100%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
#social {
  padding: 20px 20px 10px 20px;
  text-align: center;
  /*background-color: #3083c6;*/
  border-top: 10px solid #fff;
}
#social h2{
  color: #fff;  
}
#social a {
  display: inline;
  text-transform: none;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  -webkit-transition: all .4s;
  transition: all .4s;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
#social a:hover {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
#social li {
  display: inline;
  float: center;
  margin: 0px 10px 10px 0px;
}
footer {
  /*background: #184264;
  border-top: 1px solid #fff;*/
  width: 100%; 
}
footer p{
  color: #fff;
  font-size: 12px;
  margin: 10px 20px;
}
footer img {
  position: relative;
  top: 4px;
  height: 20px;
}
@media only screen and (max-width: 992px) {
  #timeline {
    width: 100%;
    height: 60px;
  }
  #timeline ul {
    width: 100%;
  }
}
.waves-effect.waves-white .waves-ripple {
  background-color: rgba(255, 255, 255, 0.6);
}
.friends-text {
  text-align: center;
  position: relative;
  bottom: 10px;
  background: #000;
  color: #fff;
  font-size: 10px;
  border-radius: 10px;
}
.profile-image-text {
  position: relative;
  bottom: 30px;
  margin-bottom: -30px;
  padding: 4px 10px;
  background: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}
.profile-info {
  clear: both;
  text-align: center;
  padding: 20px 0px;
}
.profile-info img {
  margin-right: 10px;
  clear: both;
  border-radius: 10px;
  border: 4px solid #fff;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px #fff;
  width: 100px;
}
.shadow {
  -moz-box-shadow: -3px 3px 20px 3px #333;
  -webkit-box-shadow: -3px 3px 20px 3px #333;
  box-shadow: -3px 3px 20px 3px #333;
}